apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "node-observer.fullname" . }}
  labels:
    {{- include "node-observer.labels" . | nindent 4 }}
data:
  node-observer-config.yaml: |-
    generateTopologyUrl: "{{ include "topograph.url" $ }}/v1/generate"
    provider:
      {{- toYaml .Values.global.provider | nindent 6 }}
    engine:
      {{- toYaml .Values.global.engine | nindent 6 }}
    trigger:
      {{- toYaml .Values.topograph.trigger | nindent 6 }}
