apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "topograph.fullname" . }}
  labels:
    {{- include "topograph.labels" . | nindent 4 }}
data:
  topograph-config.yaml: |-
    http:
      port: {{ .Values.global.service.port }}
      ssl: false
    requestAggregationDelay: {{ .Values.config.requestAggregationDelay }}
    {{- if .Values.config.credentialsSecretName }}
    credentialsPath: /etc/topograph/credentials/credentials.yaml
    {{- end }}
