{{- if .Values.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "node-data-broker.serviceAccountName" . }}
rules:
- apiGroups: [""]
  resources: [nodes]
  verbs: [get,list,update]
{{- if eq .Values.global.provider.name "infiniband-k8s" }}
- apiGroups: [apps]
  resources: [daemonsets]
  verbs: [get,list]
- apiGroups: [""]
  resources: [pods]
  verbs: [get,list]
- apiGroups: [""]
  resources: [pods/exec]
  verbs: [create]
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "node-data-broker.serviceAccountName" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "node-data-broker.serviceAccountName" . }}
  namespace: {{.Release.Namespace}}
  apiGroup: ""
roleRef:
  kind: ClusterRole
  name: {{ include "node-data-broker.serviceAccountName" . }}
  apiGroup: ""
{{- end }}
