# Default values for topology-generator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  provider:
    # name: "aws", "oci", "gcp", "nebius", "netq", "infiniband-k8s", "dra" or "test"
    name: aws
    params:
      nodeSelector:
        slurmCluster: my-cluster
  engine:
    name: slinky
    params:
      namespace: slurm
      nodeSelector:
        slurmCluster: my-cluster
      podSelector:
        matchLabels:
          app.kubernetes.io/component: compute
      plugin: topology/block
      block_sizes: 4
      topologyConfigPath: topology.conf
      topologyConfigmapName: slurm-config

nodeSelector:
  dedicated: user-workload

tolerations:
  - operator: Exists

node-observer:
  nodeSelector:
    dedicated: user-workload
  topograph:
    trigger:
      podSelector:
        matchLabels:
          app.kubernetes.io/component: compute
